<!-- NOTA: utilice helper para simplificar el código de esta sección -->

<h2>Single user page -  <a href="/partida">Partida</a></h2>

{{user.id_partida}}, {{user.puntaje}}, {{user.piezas}}, {{user.intentos}}, {{user.úsuarios_id}}, {{user.rompecabeza_id}}

<a href="/partida/{{user.id_partida}}/edit" type="button" class="btn btn-default btn-warning" >
  edit user
</a>
<a href ="/partida"><button type="submit" class="btn btn-default success" >Atras</button></a>